
<div class="form-div">
    <form action="" method="get" name="searchForm">
        角色名称<select name="role_id" style="width: 100px;">
        <option selected="" value="">请选择</option>
        {volist name='roleInfo' id='v'}
            <option value="{$v.role_id}" {if condition="isset($search.role_id) and ($v.role_id eq $search.role_id)"}selected{/if}>{$v.role_name}</option>
        {/volist}
    </select>
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>

<form method="post" action="" name="listForm">
    <!-- start goods role list -->
    <div class="list-div" id="listDiv">

        <table width="100%" cellpadding="3" cellspacing="1" id="listTable">
            <tbody>
            <tr>
                <th>序号</th>
                <th>角色名称</th>
                <th>权限ids</th>
                <th>权限ac</th>
                <th>操作</th>
            </tr>
            {volist name="info" id="v"}
                <tr align="center">
                    <td>{$v.role_id}</td>
                    <td><span onclick="javascript:listTable.edit(this, 'edit_role_name', 1)">{$v.role_name}</span></td>
                    <td>{$v.role_auth_ids}</td>
                    <td>{$v.role_auth_ac}</td>
                    <td><a href="{:url('distribute', ['id'=> $v.role_id ])}" title="分配权限">分配权限</a> |
                        <a href="{:url('edit', ['id'=> $v.role_id ])}" title="编辑">编辑</a> |
                        <a href="{:url('del', ['id'=> $v.role_id ])}" onclick="if(confirm('确实要删除这条角色信息吗？')) return true;else return false;" title="移除">移除</a>
                    </td>
                </tr>
            {/volist}
            <tr>
                <td align="right" nowrap="true" colspan="6" style="background-color: rgb(255, 255, 255);">
                    {$page_list}
                </td>
            </tr>
            </tbody></table>

    </div>
    <!-- end goods role list -->
</form>