<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="__IPUBLIC__/css/style.css" />
    <script type="text/javascript" src="__IPUBLIC__/js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="__IPUBLIC__/js/jquery-1.8.2.min.js"></script>
    <title>尤洪</title>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <div class="sou">
        <span class="fr">
        	<span class="fl">你好，请<a href="{:url('login/login')}">登录</a>&nbsp; <a href="{:url('login/regist')}" style="color:#ff4e00;">免费注册</a>&nbsp;</span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="__IPUBLIC__/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>
<!--End Header End-->
<!--Begin Login Begin-->
<div class="log_bg">
    <div class="top">
        <div class="logo"><a href="{:url('/')}"><img src="__IPUBLIC__/images/logo.png" /></a></div>
    </div>
    <div class="regist">
        <div class="log_img"><img src="__IPUBLIC__/images/l_img.png" width="611" height="425" /></div>
        <div class="reg_c">
            <form id="submitFrom">
                <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="95">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">注册</span>
                            <span class="fr">已有商城账号，<a href="{:url('login/login')}" style="color:#ff4e00;">我要登录</a></span>
                        </td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户名 &nbsp;</td>
                        <td><input type="text" name="username" value="{:input('post.username')}" class="l_user" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                        <td><input type="password" name="password" value="" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                        <td><input type="password" name="password_confirm" value="" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                        <td><input type="text" name="user_email" value="" class="l_email" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;手机 &nbsp;</td>
                        <td><input type="text" name="user_tel" value="" class="l_tel" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                        <td colspan="2" align="left">
                            <input type="text" value="" class="l_ipt" name="chkcode"/>
                            <img src="{:url('login/verifyImg')}" width="145" height="40px" alt="CAPTCHA" border="1" onclick="this.src=this.src+'?'" style="cursor: pointer;margin-bottom: -15px;" title="看不清？点击更换另一个验证码。"  class="code_img"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" value="0" name="accept" onclick="this.value= (this.value==1 ? 0 : 1);" /></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                    </span>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="立即注册" class="log_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="__IPUBLIC__/images/b_1.gif" width="98" height="33" /><img src="__IPUBLIC__/images/b_2.gif" width="98" height="33" /><img src="__IPUBLIC__/images/b_3.gif" width="98" height="33" /><img src="__IPUBLIC__/images/b_4.gif" width="98" height="33" /><img src="__IPUBLIC__/images/b_5.gif" width="98" height="33" /><img src="__IPUBLIC__/images/b_6.gif" width="98" height="33" />
    </div>
</div>
<!--End Footer End -->

</body>

<script type="text/javascript" src="__PUBLIC__/plugins/layer/layer.js"></script>
<script>
    $('#submitFrom').submit(function(event){
        event.preventDefault(); // **阻止默认事件重点**
        var accept = $("input[name='accept']").val();
        if(accept == 0){
            console.log(accept);
            layer.alert("请先阅读并接受用户协议！", {icon: 5});
            return false;
        }

        $.ajax({
            type: "post",
            url: "{:url('login/regist')}",
            dataType:"json",
            data: $('#submitFrom').serialize(),
            success: function(result){
                //成功提示弹窗
                if (result.code == 200) {
                    layer.msg(result.msg, {time:1000,icon: 6}, function () {
                        window.location.href = "{:url('login')}";
                    });
                } else {
                    layer.msg(result.msg, {time:1000,icon: 5});
                }
            }
        });
    });
</script>
</html>
