
<div class="main-div">
    <form action="" method="post" name="theForm">
        <table cellspacing="1" cellpadding="1" width="100%">
            <tbody>
            <tr>
                <td class="label">文章分类名称:</td>
                <td><input type="text" name="cat_name" value="" size="40">
                    <span class="require-field">*</span></td>
            </tr>
            <tr>
                <td class="label">文章分类描述:</td>
                <td><textarea name="cat_desc"></textarea></td>
            </tr>
            <tr>
                <td class="label">排序依据:</td>
                <td><input type="number" name="sort_order" value="50" size="10"></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="submit" value=" 确定 " class="button">
                    <input type="reset" value=" 重置 " class="button">
                </td>
            </tr>
            </tbody></table>
    </form>
</div>
