
<div class="main-div">
    <form method="post" action="" name="theForm" enctype="multipart/form-data">
        <input type="hidden" name="brand_id" value="{$info.brand_id}" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tbody><tr>
                <td class="label">品牌名称</td>
                <td><input type="text" name="brand_name" maxlength="60" value="{$info.brand_name}"><span class="require-field">*</span></td>
            </tr>
            <tr>
                <td class="label">品牌网址</td>
                <td><input type="text" name="brand_url" maxlength="60" size="40" value="{$info.brand_url}"><span class="require-field">*</span></td>
            </tr>
            <tr>
                <td class="label">品牌logo</td>
                <td><img src="__PUBLIC__/../{$info.brand_logo}" height="60" width="60"></td>
            </tr>
            <tr>
                <td class="label"><a href="javascript:showNotice('warn_brandlogo');" title="点击此处查看提示信息">
                    <img src="__APUBLIC__/images/notice.gif" width="16" height="16" border="0" alt="点击此处查看提示信息"></a>品牌LOGO</td>
                <td><input type="file" name="brand_pic" id="logo" size="45">    <br><span class="notice-span" style="display:block" id="warn_brandlogo">
        请上传图片，做为品牌的LOGO！        </span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌描述</td>
                <td><textarea name="brand_desc" cols="60" rows="4">{$info.brand_desc}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br>
                    <input type="submit" class="button" value=" 确定 ">
                    <input type="reset" class="button" value=" 重置 ">
                </td>
            </tr>
            </tbody></table>
    </form>
</div>
<script type="text/javascript" src="__APUBLIC__/js/goods/goods.js"></script>