
<div class="main-div">
    <form action="" method="post" name="theForm">
        <input type="hidden" name="deal_id" value="{$info['order_id']}">
        <input type="hidden" name="deal_order_sn" value="{$info['order_sn']}">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tbody>
            <tr>
                <td class="label">订单状态:</td>
                <td>
                    <select name="order_status">
                        <option value="">-请选择-</option>
                        {volist name="status" id="v" key="k"}
                            <option value="{$k-1}"
                            {eq name="k-1" value="$info['order_status']"}selected{/eq}
                            >{$v}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">附加信息:</td>
                <td><textarea name="deal_info"></textarea></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="submit" value=" 确定 " class="button">
                </td>
            </tr>
            </tbody></table>
    </form>
</div>